@charset "utf-8";

#inc04{padding:150px 0}
#inc04 .bnr{overflow:hidden;display:flex;align-items:center;justify-content:center;width:100%;height:400px;border-radius:30px;color:#fff;text-align:center;background:url(./img/bnr_img.jpg) no-repeat;background-size:cover}
#inc04 .bnr .cm_btn:hover{color:#111;background:#fff}
#inc04 .bnr h3{font-size:35px;font-weight:700}
#inc04 .bnr p{margin:10px 0 30px;font-size:20px;font-weight:500}
#inc04 .bnr .cm_btn{margin:0 auto;transition:all .3s}

#inc04 .tit{display:flex;flex-direction:column;justify-content:space-around}
#inc04 .flex{display:flex;justify-content:space-between;margin-bottom:80px}
#inc04 .late_tabs{display:flex;gap:10px}
#inc04 .late_tabs li{padding:10px 25px;border-radius:50px;font-size:20px;font-weight:700;color:#111;cursor:pointer}
#inc04 .late_tabs li.on{color:#fff;background:var(--primary)}
#inc04 .tabs{width:910px;padding-bottom:30px;border-top:2px solid #111;border-bottom:1px solid #e1e1e1}
#inc04 .tabs .fir_date{display:flex;flex-direction:column;align-items:center;justify-content:center;width:85px;height:85px;border-radius:13px;background:#f5f5f5}
#inc04 .tabs .fir_date span{font-size:30px;font-weight:700;line-height:1;color:var(--primary)}
#inc04 .tabs .fir_date p{font-size:15px;font-weight:700}
#inc04 .tabs .fir_date .subj{font-size:20px;font-weight:700}
#inc04 .tabs .sh_date{display:flex;align-items:center;gap:30px;margin-bottom:30px;padding:30px;border-bottom:1px solid #e1e1e1}
#inc04 .tabs .sh_date_r{display:flex;align-items:center;justify-content:space-between;margin:0 30px}
#inc04 .tabs .sh_date_r .date{font-size:14px;color:#777}
#inc04 .tabs .lt_cont{font-size:16px;color:#777}
#inc04 .tabs li:nth-child(n+2){margin-top:10px}
#inc04 .tabs li .subj{font-size:18px;font-weight:600;color:#111}
#inc04 .tabs li .sh_date_r .subj:before{display:inline-block;content:'';width:5px;height:5px;margin-right:13px;border-radius:50px;vertical-align:4px;background:var(--primary)}
