@charset "utf-8";

#inc02{padding:200px 0 300px;background:url('./img/bg.jpg') bottom no-repeat;background-size:contain}
#inc02 .tit{position:sticky;top:0;left:0;height:100%;padding-top:50px}
#inc02 .inner{display:flex;justify-content:space-between}
#inc02 .num{display:flex;flex-wrap:wrap;width:55%}
#inc02 .num li{width:50%}
#inc02 .num li:nth-child(even){margin-top:230px}
#inc02 .icon{display:flex;flex-direction:column;justify-content:space-between;width:315px;height:315px;padding:40px;border-radius:13px;background:#f5f5f5;box-shadow:0px 0px 10px 5px rgba(0,0,0,.1);transition:all .3s}
#inc02 .icon:hover{background:var(--primary)}
#inc02 .icon:hover p{color:#fff}
#inc02 .icon p{font-size:35px;font-weight:700;color:var(--primary);transition:all .3s}
#inc02 .icon img{display:block;margin-left:auto}
#inc02 dl{margin-top:20px}
#inc02 dt{font-size:25px;font-weight:700;color:#111}
#inc02 dd{font-size:20px;font-weight:500;color:#777}