<!-- 푸터 컴포넌트 템플릿 -->
<!-- US INNOWAVE 웹사이트 푸터 템플릿 -->
<!-- 사용법: 새 페이지에서 이 템플릿을 include하여 일관된 푸터 제공 -->

<footer id="sh_ft">	
    <div class="flex">
        <div class="info">
            <span class="footer-logo">US INNOWAVE</span>    
            <ul>
                <li>
                    <span>ADDRESS</span>서울특별시 강남구 테헤란로 123, 컨설팅빌딩 10층 상호 : US INNOWAVE 대표 : 김이노웨이브<br />
                    사업자 번호 : 123-45-67890 통신판매업종신고 : 제2024-서울강남-001호<br />
                    대표번호 : 02-1234-5678  팩스 : 02-1234-5679 이메일 : info@usinnowave.com
                </li>
                <li><span>TEL</span>02-1234-5678</li>
                <li><span>FAX</span>02-1234-5679</li>
                <li><span>E-mail</span>info@usinnowave.com</li>
            </ul>
            <div class="links">
                <a href="/policy-consulting">정책자금 컨설팅</a>
                <a href="/us-export-support">미국 수출 지원</a>
                <a href="/iso-certification">ISO 인증</a>
            </div>
        </div>
        
        <!-- 푸터 메뉴 -->
        <ul class="ft_mn">
            <li>
                <a href="/company-intro">회사소개</a>
            </li>
            <li>
                <a href="/policy-fund">정책자금 컨설팅</a>
            </li>
            <li>
                <a href="/services">수출 지원</a>
            </li>
            <li>
                <a href="/us-market">미국 공급망 & 조달시장</a>
            </li>
            <li>
                <a href="/certification">ISO & 기업인증</a>
            </li>
            <li>
                <a href="/contact">문의하기</a>
            </li>
        </ul>
    </div>
    
    <!-- 저작권 정보 -->
    <div class="copy">
        (C) US INNOWAVE - 정책자금 컨설팅 & 미국 진출 전문 기업 all rights reserved.
    </div>	
    
    <!-- 맨 위로 버튼 -->
    <div id="toTop"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></div> 
</footer>

<!-- 맨 위로 버튼 스크립트 -->
<script>
$(document).ready(function() {
    $('#toTop').click(function(){
        $('html, body').animate({scrollTop:0}, 400);
    });
});
</script>

<!-- 푸터 사용을 위한 필수 CSS 및 JS -->
<!-- 
필수 의존성:
- CSS: 푸터 관련 CSS 스타일 (user.css에 포함)
- JS: jQuery (3.7.1+)
- 아이콘: Font Awesome 라이브러리

사용 예시:
1. 새 HTML 페이지에서 이 템플릿을 복사하여 사용
2. Font Awesome CSS가 로드되어 있는지 확인
3. jQuery가 로드되어 있는지 확인
4. 회사 정보는 필요에 따라 수정 가능
5. 푸터 메뉴는 헤더 메뉴와 일치하도록 유지

변수화 가능한 부분:
- 회사명: "US INNOWAVE"
- 주소: 서울특별시 강남구 테헤란로 123...
- 전화번호: 02-1234-5678
- 이메일: info@usinnowave.com
- 사업자번호: 123-45-67890
-->