<!-- 헤더 컴포넌트 템플릿 -->
<!-- US INNOWAVE 웹사이트 헤더 템플릿 -->
<!-- 사용법: 새 페이지에서 이 템플릿을 include하여 일관된 헤더 제공 -->

<header id="sh_hd">	
    <div class="sh_lnb_bg"></div>
    <div id="skip_to_container"><a href="#sh_container">본문 바로가기</a></div>
    
    <!-- 팝업레이어 시작 { -->
    <div id="hd_pop">
        <h2>팝업레이어 알림</h2>
        <span class="sound_only">팝업레이어 알림이 없습니다.</span>
    </div>

    <script>
    $(function() {
        $(".hd_pops_reject").click(function() {
            var id = $(this).attr('class').split(' ');
            var ck_name = id[1];
            var exp_time = parseInt(id[2]);
            $("#"+id[1]).css("display", "none");
            set_cookie(ck_name, 1, exp_time, g5_cookie_domain);
        });
        $('.hd_pops_close').click(function() {
            var idb = $(this).attr('class').split(' ');
            $('#'+idb[1]).css('display','none');
        });
        $("#hd").css("z-index", 1000);
    });
    </script>
    <!-- } 팝업레이어 끝 -->
    
    <div id="sh_hd_wrapper">
        <div id="shGnb">	
            <!-- 로고 -->
            <div class="sh_logo">
                <a href="/">
                    <img src="/images/us-innowave-logo.svg" alt="US INNOWAVE" class="logo-svg">
                </a>
            </div>

            <!-- 상단메뉴 -->
            <nav class="sh_nav">
                <ul>
                    <li>
                        <a href="/company-intro">회사소개</a>
                    </li>
                    <li>
                        <a href="/policy-fund">정책자금 컨설팅</a>
                    </li>
                    <li>
                        <a href="/services">수출 지원</a>
                    </li>
                    <li>
                        <a href="/us-market">미국 공급망 & 조달시장</a>
                    </li>
                    <li>
                        <a href="/certification">ISO & 기업인증</a>
                    </li>
                    <li>
                        <a class="form_link" href="/contact">문의하기 <i data-feather="arrow-up-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>	
    </div>
</header>

<!-- 헤더 필수 CSS -->
<link rel="stylesheet" href="../css/top_menu_style.css">

<style>
/* 로고 SVG 스타일 */
.logo-svg {
    height: 40px;
    width: auto;
    color: white;
}

#shGnb.on .logo-svg {
    color: #222;
}
</style>

<!-- 헤더 필수 JS -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../js/top_menu_script.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
    // Feather icons 초기화
    document.addEventListener('DOMContentLoaded', function() {
        feather.replace();
    });
</script>

<!-- 헤더 사용을 위한 필수 CSS 및 JS -->
<!-- 
필수 의존성:
- CSS: css/top_menu_style.css (위에 포함됨)
- JS: js/top_menu_script.js (위에 포함됨)
- 아이콘: feather icons 라이브러리 (위에 포함됨)

사용 예시:
1. 새 HTML 페이지에서 이 템플릿을 복사하여 사용
2. 필수 CSS/JS 파일들이 자동으로 로드됨
3. 메뉴 항목은 필요에 따라 수정 가능
4. 로고 이미지는 /images/logo.png 경로에 배치
5. 로고 텍스트 "US INNOWAVE"는 브랜딩에 맞게 수정 가능

로고 스타일링:
- CSS 파일: css/top_menu_style.css
- 클래스: .sh_logo, .logo-img, .logo-text
- 이미지 경로: /images/logo.png
-->